// COLOR VARIABLES
$color-primary: #c19b76;
$color-primary-dark: #B28451;

$color-secondary: #0e6fb3;
$color-secondary-light: #eff4f8;

$color-grey-light-1: #fff;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #686868;
$color-grey-dark-2: #444;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Gilda Display', serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-tiny: 25em;     // 400px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: minmax(min-content, 10vh) 80vh repeat(5, max-content) minmax(30rem, 40vw);
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] minmax(min-content, 110rem) [center-end] minmax(3rem, 1fr) [full-end];
}

a {
    text-decoration: none;
    color: inherit;
}

img { 
    width: 100%;
    height: 100%;
}