.explore {
    padding: 12rem 0;
    background-color: $color-secondary-light;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: minmax(3rem, 1fr) repeat(10, minmax(2.6rem, 11rem)) minmax(3rem, 1fr);

    @media only screen and (max-width: $bp-small) {padding: 6rem 0;}

    &__img {
        grid-column: 2 / span 7;
        grid-row: 1/2;
        width: 100%;
        border: 1rem solid $color-grey-light-1;
    }

    &__content {
        z-index: 1;
        padding: 5rem 2rem;
        grid-column: 8 / span 4;
        grid-row: 1/2;
        align-self: center;
        width: 110%;
        transform: translateX(-9%);
        background-color: $color-grey-light-1;

        @media only screen and (max-width: $bp-small) {
            grid-column: 3 / span 9;
            padding: 2rem;
        }
    }
}