.video {
    grid-column: full-start / full-end;
    background-image: linear-gradient(to right, rgba($color-secondary, .9), rgba($color-primary, .9)), url(../img/video-low.jpg);
    background-position: center;
    background-size: cover;

    @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
        background-image: linear-gradient(to right, rgba($color-secondary, .9), rgba($color-primary, .9)), url(../img/video.jpg);}

    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 3rem;

    &__heading {
        width: 60%;
        text-align: center;
    }

    &__play {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 40px solid #fff;
        border-bottom: 25px solid transparent;
        cursor: pointer;
    }
}